*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Container{
    width: 100vw;
    font-family: "Neue Montreal", sans-serif;
    font-weight: normal;
}
body{
    overflow-x: hidden;
}
.Main-Header{
    background-color: #255A5B;
    height: 90vh;
    position: relative;
    background-size: cover;
    background-position: center;
}
.Sub-header{
    display: flex;
    padding: 20px;
    padding-top: 40px;
    height: 10rem;
    align-items: center;
    justify-content: space-between;
}
.left-header{
    align-items: center;
    padding-left: 10px;
    display: flex;
    justify-content: center;
    width: 33%;
}
.nav-content{
    align-items: center;
    display: flex;
    gap: 22px;
    height: 100%;
}
.right-header{
    width: 33%;
    align-items: center;
    height: 100%;
    gap: 20px;
    display: flex;
    padding-right: 1rem;
    justify-content: flex-end;
    display: flex;
}
.center-header{
    height: 100%;
    width: 33%;
    align-items: center;
    display: flex;
    justify-content: center;
}
.head-logo{
    font-family: "Joanna Nova", serif;
    font-size: 3.1rem;
    cursor: pointer;
    letter-spacing: 0.2rem;
    width: 100px;
    line-height: 0.7;
    text-align: center;
    text-decoration: none;
    color: #fff;
    margin-right: 2rem;
}
.fa-bars{
    font-size: 34px;
    background-color: #BE9471;
    padding: 16px;
    color: #FFFFFF;
    border-radius: 2px;
}
.btn-rese{
    padding: 20px 32px;
    border: none;
    font-size: 15px;
    cursor: pointer;
    height: 65px;
    transition: 0.3s;
    color: #FFFFFF;
    background-color: #BE9471;
}
.btn-rese:hover{
    background-color: gray;
    cursor: pointer;
}
.Container-tool{
    display: none;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.tooltip-content{
    background: #fff;
    width: 18rem;
    height: 14.8rem;
    position: relative;
    display: flex;
    flex-direction: column;
}
#table-tool:target{ 
    display: flex;
}
.header-tool {
    display: flex;
    justify-content: space-between;
    height: 37px;
    align-items: center;
    margin: 16px 16px 0px;
    font-size: 14px;
    text-align: center;
    font-family: "Neue Montreal", Arial, Helvetica, sans-serif;
    width: 256.3px;
    border-bottom: solid 1px rgb(171, 166, 166);
}
.Close-wrong-tool{
    text-decoration: none;
    color: black;
    font-size: 27px;
}
.body-tool{
    display: flex;
    height: 37px;
    flex-direction: column;
    gap: 20px;
    margin: 16px 16px 0px;
    font-size: 14px;
    font-family: "Neue Montreal", Arial, Helvetica, sans-serif;
    width: 256.3px;
}
.option-tool a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    font-size: 16px;
    color: black;
    text-decoration: none;
    background-color: white;
    width: 255.72px;
    height: 66px;
    border: solid 1px #242b35;
}
.option-tool a:hover {
    color: white;
    background-color: #242b35;
    cursor: pointer;
}
#arrow-tool {
    font-size: 24px; 
    transform: translateX(0); /* Ensure initial position */
    transition: transform 0.3s ease; /* Smooth return to original position */
}
#link-tool:hover #arrow-tool {
    transform: translateX(13px); /* Move forward */
} 
.nameheadtool{
    font-size: 1rem;
}

.cart-content{
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
}
.logo-block{
    margin-left: 20%;
}
.logo{
    width: 190px;
    height: 130px;
}
.lock1{
    display: none;
}
.menu, .contact, .room, .shop, .event, .home, a{
    text-decoration: none;
    font-size: 16px;
    color: white;
    position: relative;
}
.contact::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -5px; 
    transform: translateX(-50%);
    width: 70px;
    height: 2px;
    background-color: #d4b48f; 
    border-radius: 10px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}
.menu::after, .home::after, .room::after, .shop::after, .event::after
,.cart-content::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -5px; 
    transform: translateX(-50%) scaleX(0); 
    width: 50px; 
    height: 2px;
    background-color: #d4b48f;
    border-radius: 10px; 
    transition: transform 0.3s ease; 
}
.event:hover::after, .menu:hover::after, .home:hover::after, 
.room:hover::after, .shop:hover::after{
    transform: translateX(-50%) scaleX(1); 
}
.sticky-side{
    width: 15rem;
    position: fixed;
    z-index: 500;
    top: 60%;
    transform: translateY(-50%) rotate(270deg);
    border-width: 1px;
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: #d4b48f;
    border-style: solid;
    right: 0%;
    left: 90.2%;
    transform: rotate(270deg);
}
.btn-block{
    padding: 4px;
}
.sticky{
    width: 14.4rem;
    text-align: center;
    color: #FFFFFF;
    height: 3.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #BE9471;
    font-size: 1rem;
}
.sticky:hover {
    cursor: pointer;
    background-color:#004C46;
}
.action3{
    display: none;
    background-color: #303E4B;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 55vh;
    justify-content: center;
    text-align: center;
    z-index: 1000;
}
#Action-Block3:target{
    display: flex;
}
.Main-Block{
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.cart2 a{
    font-size: 17px;
    text-decoration: none;
    color: white;
}
.cart-content2{
    margin-top: 18px;
}
.nav-content2{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}
.right-header2{
    display: flex;
    flex-direction: column;
}
.btn-reservation2{
    background-color: #BE9471;
    color: #FFFFFF;
    border: none;
    height: 65px;
    width: 180px;
    font-size: 16px;
    padding: 10px;
}
.reservation-content2{
    margin-top: 20px;
}
.Main-content25{
    display: flex;
    justify-content: flex-end;
    top: 14%;
    right: 5%;
    position: absolute;
}
.Close-wrong,.back2{
    font-size: 50px;
    width: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65px;
    background-color: #BE9471;
}
.home2::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) scaleX(0); 
    width: 50px; 
    height: 2px;
    background-color: #d4b48f;
    border-radius: 10px; 
    transition: transform 0.3s ease; 
}
.menu2::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) scaleX(0); 
    width: 50px; 
    height: 2px;
    background-color: #d4b48f;
    border-radius: 10px; 
    transition: transform 0.3s ease; 
}
.room2::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) scaleX(0); 
    width: 50px; 
    height: 2px;
    background-color: #d4b48f;
    border-radius: 10px; 
    transition: transform 0.3s ease; 
}
.shop2::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) scaleX(0); 
    width: 45px; 
    height: 2px;
    background-color: #d4b48f;
    border-radius: 10px; 
    transition: transform 0.3s ease; 
}
.event2::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) scaleX(0); 
    width: 60px; 
    height: 2px;
    background-color: #d4b48f;
    border-radius: 10px; 
    transition: transform 0.3s ease; 
}
.contact2::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) scaleX(0); 
    width: 68px; 
    height: 2px;
    background-color: #d4b48f;
    border-radius: 10px; 
    transition: transform 0.3s ease; 
}
.cart2::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) scaleX(0); 
    width: 68px; 
    height: 2px;
    background-color: #d4b48f;
    border-radius: 10px; 
    transition: transform 0.3s ease; 
}
.home2:hover::after, .menu2:hover::after, .contact2:hover::after, 
.room2:hover::after, .shop2:hover::after, .event2:hover:after , .cart2:hover:after{
    transform: translateX(-50%) scaleX(1); 
}
.nav-content2 a,.reservation-content2 a,.cart-content2 a,.back2 a{
    text-decoration: none;
    color: white;
}

.instagram-content{
    position: absolute;
    top: 70%;
    gap: 10px;
    color: #dfdbdb;
    left: -2.3%;
    transform: rotate(270deg);
}
.insta{
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.fa-instagram{
    font-size: 18px;
}
.background-text {
    position: absolute;
    top: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 50%;
    color: #FFFFFF;
    right: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 18.7rem;
    font-size: 6.2rem;
    line-height: 1;
    letter-spacing: -0.2rem;
    text-transform: uppercase;
    color: #ffffff;
    z-index : 200;
}
.image-block{
    position: absolute;
    width: 32%;
    background: url("wine.webp");
    left: 33.3%;
    background-size: cover;
    background-position: center;
    top: 53%;
    height: 87vh;
}
.detail1{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 0;
    margin-bottom: 1.8%;
    letter-spacing: 0.3px;
}
.detail2{
    font-family: "Joanna Nova", serif;
    font-size: 6rem;
    font-weight: 600;
}
@font-face {
    font-family: "Joanna Nova";
    src: url(Fonts/Joanna\ Nova\ W06\ Regular.woff) format(woff);
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Joanna Nova";
    src: url(Fonts/Joanna\ Nova\ W06\ Bold.woff) format(woff);
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Neue Montreal";
    src: url(Fonts/Neue\ Montreal\ Regular.woff) format(woff);
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Neue Montreal";
    src: url(Fonts/Neue\ Montreal\ Bold.woff) format(woff);
    font-weight: 600;
    font-style: normal;
  }

  .contact-info {
    margin-top: 5rem;
    text-align: center;
    justify-content: center;
    background-color: #FFFFFF;
}

.contact-info ul {
    list-style: none;
}

.contact-text {
    padding-top: 20rem;
    text-align: center;
    font-size: 1.5rem;
}

.contact-info a {
    text-decoration: underline;
    color: #004C46;
}

.map-image {
    justify-content: center;
    background-color: #FFFFFF;
    display: flex;
    width: 100%;
    height: 35rem;
}

.work-with-us, .send-message {
    padding: 2rem;
    background: #FFFFFF;
    text-align: center;
}

.contact-form {
    text-align: center;
    padding: 30px 20px;

}

.contact-form form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 7rem);
    gap: 20px;
    grid-template-areas:
    "a  b"
    "c  d"
    "e  e";
    max-width: 600px;
    margin: 0 auto;
}
.in1 {
    grid-area: a;
}
.in2 {
    grid-area: b;
}
.in3 {
    grid-area: c;
}
.in4 {
    grid-area: d;
}
.in5 {
    grid-area: e;
}
.contact-formm label {
    display: block;
    margin-bottom: 0.5rem;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px none #ccc;
    border-radius: 5px;
    text-wrap-style: underline;
}

.contact-form textarea {
    height: 100px;
    resize: none;
    
}

.contact-form button {
    grid-column: span 2;
    padding: 10px;
    background-color: #d2a679;
    color: white;
    border: none;
    cursor: pointer;
}

.Main-content1{
    width: 100vw;
    height: 60vh;
    margin-top: 4rem;
}
/* sub-container */
.instagram-content1{
    width: 100%;
    height: 20vh;
    cursor: pointer;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 250px);
    grid-template-areas:
    "a  b   c   c   e   f"
    "g  h   c   c   k   l";
}
.insta-block-con1v{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: a;
}
.insta-block-con2v{
    grid-area: b;
    display: flex;
    align-items: center;
    justify-content: center;
}
.insta-block-con3v{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(202, 173, 143);
    position: relative;
    grid-area: c;
}
.insta-block-con5v{
    grid-area: e;
    display: flex;
    align-items: center;
    justify-content: center;
}
.insta-block-con6v{
    grid-area: f;
    display: flex;
    align-items: center;
    justify-content: center;
}
.insta-block-con7v{
    grid-area: g;
    display: flex;
    align-items: center;
    justify-content: center;
}
.insta-block-con8v{
    grid-area: h;
    display: flex;
    align-items: center;
    justify-content: center;
}
.insta-block-con11v{
    grid-area: k;
    display: flex;
    align-items: center;
    justify-content: center;
}
.insta-block-con12v{
    grid-area: l;
    display: flex;
    align-items: center;
    justify-content: center;
}



/* this is image loading */
.insta-loading1{
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* for parent image loading */
.insta-block1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
/* image instagram */
.insta-center-image1{
    width: 20px;
    display: none;
    height: 25px;
}
.insta-con1 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* upload insta and disable loading */
.insta-block-con1:hover, .insta-block-con2:hover,.insta-block-con8:hover
,.insta-block-con5:hover,.insta-block-con6:hover,.insta-block-con7:hover,
.insta-block-con11:hover,.insta-block-con12:hover{
    background-color: rgb(202, 173, 143);
    transition: 0.3s;

    .insta-center-image{
        display: flex;
    }
    .insta-loading{
        display: none;
    }
}

/* cow picture */
.middle-img{
    width: 100%;
    opacity: 0.1;
    height: 27rem;
}
/* cow picture parent */
.middle-img-width{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}
/* content in block-con3 */
.Full-detail{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.detail3,.detail4{
    color: #FFFFFF;
    font-weight: 550;
    font-size: 2.3rem;
}
.insta-center-image2{
    width: 20px;
    height: 20px;
}
.line{
    width: 20px;
    height: 1.6px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: white;
}
.detail3{
    color: #FFFFFF;
    height: 4rem;
    width: 15rem;
    cursor: pointer;
    transition-duration: 0.3s;
}
.detail3 a:hover {
    color:rgb(202, 173, 143);
    background-color: #FFFFFF;
}
#arrow {
    font-size: 24px; 
    transform: translateX(0);
    transition: transform 0.3s ease;
}
#link:hover #arrow {
    transform: translateX(5px);
} 
.detail3 a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    width: 100%;
    height: 100%;
    text-decoration: none;
    border: solid 1px #FFFFFF;
}
.arrow-insta{
    font-size: 24px;
    margin-left: 5px;
}
.link-insta{
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.Main-footer {
    width: 100%;
    z-index: 2000;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgb(43, 58, 65);
    margin-top: 2rem;
    display: flex;
  }
  .Sub-footer {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    height: 100%;
  }
  .sub-logo-block {
    margin-top: 3.8%;
    width: 9%;
    align-items: center;
    display: flex;
  }
  .sub-head-logo {
    font-family: "Joanna Nova", serif;
    font-size: 3.1rem;
    cursor: pointer;
    letter-spacing: 0.2rem;
    width: 100px;
    line-height: 0.8;
    text-align: center;
    text-decoration: none;
    color: #fff;
  }
  .sub-menulist {
    display: flex;
    gap: 3rem;
    align-items: center;
  }
.sub-menulist li {
    color: white;
  }
  .sub-menu {
    margin-right: 2rem;
  }
  .sub-list {
    margin-top: 2.4rem;
  }
  .empty-line {
    width: 62%;
    margin-top: 1.6rem;
    height: 0.2px;
    background-color: rgb(124, 119, 119);
  }
  .input-block {
    display: flex;
    margin-top: 4.4rem;
    height: 4.3rem;
    width: 26%;
    position: relative;
    border: 1px solid rgb(156, 152, 152);
    justify-content: space-between;
    align-items: center;
  }
  .input-email {
    border: none;
    height: 100%;
    padding: 14px;
    color: #ffffff;
    font-size: 1.3rem;
    width: 100%;
    background: none;
  }
  .arrow-input {
    position: absolute;
    right: 4%;
    cursor: pointer;
    font-size: 2.3rem;
    color: white;
  }
  input::placeholder {
    font-size: 1.2rem;
  }
  .detail10 {
    flex-direction: column;
    margin-top: 2.8rem;
    justify-content: center;
    gap: 0.5rem;
    color: #ffffff;
    font-size: 1.1rem;
    font-family: "Neue Montreal", Helvetica, sans-serif;
    align-items: center;
    display: flex;
  }
  .d13 {
    margin-top: 1rem;
  }
  .d15 {
    margin-top: 1.5rem;
    cursor: pointer;
    margin-bottom: 2rem;
  }
  .d15 .fa-arrow-up {
    font-size: 3.5rem;
  }
  .d13 a:hover {
    text-decoration: underline;
  }
  .d14 a:hover {
    text-decoration: underline;
  }
  .d17 a:hover {
    text-decoration: underline;
  }

/* respnsive just for instagram section */
@media(max-width:1020px){
    .insta-block-con2, .insta-block-con5, .insta-block-con7, .insta-block-con11{
        display: none;
    }
    .instagram-content{
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
        "a   b   b   c"
        "d   b   b    e";
    }
    .insta-block-con1{
        grid-area: a;
    }
    .insta-block-con3{
        grid-area: b;
    }
    .insta-block-con6{
        grid-area: c;
    }
    .insta-block-con8{
        grid-area: d;
    }
    .insta-block-con12{
        grid-area: e;
    }
}
@media(max-width: 500px){
    .instagram-content{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 250px 320px 250px;
        grid-template-areas:
        "a   b"
        "c   c"
        "d   e";
    }
    .insta-block-con1{
        grid-area: a;
    }
    .insta-block-con3{
        grid-area: c;
    }
    .insta-block-con6{
        grid-area: b;
    }
    .insta-block-con8{
        grid-area: d;
    }
    .insta-block-con12{
        grid-area: e;
    }
    .middle-img{
        height: 20rem;
    }
    .detail1,.detail2{
        font-size: 1.6rem;
    }
}



/* respnsive just for instagram section */
@media(max-width:1020px){
    .insta-block-con2v, .insta-block-con5v, .insta-block-con7v, .insta-block-con11v{
        display: none;
    }
    .instagram-content1{
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
        "a   b   b   c"
        "d   b   b    e";
    }
    .insta-block-con1v{
        grid-area: a;
    }
    .insta-block-con3v{
        grid-area: b;
    }
    .insta-block-con6v{
        grid-area: c;
    }
    .insta-block-con8v{
        grid-area: d;
    }
    .insta-block-con12v{
        grid-area: e;
    }
}
@media(max-width: 500px){
    .instagram-content1{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 250px 320px 250px;
        grid-template-areas:
        "a   b"
        "c   c"
        "d   e";
    }
    .insta-block-con1v{
        grid-area: a;
    }
    .insta-block-con3v{
        grid-area: c;
    }
    .insta-block-con6v{
        grid-area: b;
    }
    .insta-block-con8v{
        grid-area: d;
    }
    .insta-block-con12v{
        grid-area: e;
    }
    .middle-img{
        height: 20rem;
    }
    .detail3,.detail4{
        font-size: 1.6rem;
    }
}
